<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERPNext_Desktop_Connector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ERPNext_Desktop_Connector.Properties.Settings>
            <setting name="PollingInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SyncStartTime" serializeAs="String">
                <value>01/06/2021 17:00:00</value>
            </setting>
            <setting name="SyncStopTime" serializeAs="String">
                <value>01/06/2021 06:00:00</value>
            </setting>
            <setting name="AutomaticSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualSync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationId" serializeAs="String">
                <value>41Dzi73wlWhIwx8yTdVQ6dJRbGU9nJtcu47x2rY4MOS7u9tAALysow==VK7xyIAjtHr7JDWfDXJYhVLelt+UlNwmGpSMCjISTVFfEo6e0pRzQR7cnDraS9HTpJnP34yIDrgC4nA7QU1rMCPWNQ4eOs+7+dm5AV/mymbQWUEx+tNEQhDka3PJi6nFXkZEaDa+I6bhbQnAAg+65ZD6/+IJ02CjaAGCAzaRiQebwojCJiKuSKoiDk/xkDTuD975uiTLcGZ3ZrzByxfoPdaUkAPQRTaEFmiARO/eBtNg7nSXUvVaEF0NddSjTyf6jbwycx6NnzmRWk/qBJPW0g==</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>https://dev.electrocomptr.com</value>
            </setting>
            <setting name="ApiToken" serializeAs="String">
                <value>4e7b90c8fc265ac</value>
            </setting>
            <setting name="SecretToken" serializeAs="String">
                <value>78e5615db2830e3</value>
            </setting>
        </ERPNext_Desktop_Connector.Properties.Settings>
    </userSettings>
</configuration>